<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
      .container {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        display: flex;
        justify-content: center;
        height: 100%;
        background-color: #dbd9d5;
      }
      .main_file {
        background-color: #fff;
        width: 100%;
        height: 100%;
        margin: 10px;
        padding: 20px 40px;
      }
      .unit_sign_container {
        display: flex;
      }
      .title_unit {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }
      .title_unit_sign {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        font-weight: 600;
        width: 32%;
      }
      .title_unit_sign_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        font-weight: 600;
        width: 150px;
        height: 100px;
      }
      .unit_sign_place {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        font-weight: 600;
        width: 32%;
      }
      .num_in_doc {
        display: flex;
        justify-content: flex-end;
        margin: 20px 0;
      }
      .item_in_doc {
        border: 1px solid;
        margin-right: 105px;
        padding: 10px;
      }
      .flex_around {
        display: flex;
        justify-content: space-around;
      }
      .flex_center {
        display: flex;
        justify-content: center;
      }
      .title_weight_600 {
        font-weight: 600;
      }
      .title_bold_14 {
        font-weight: bold;
        font-size: 16px;
      }
      .row_content {
        margin: 10px 0;
        display: flex;
      }
      .title_header {
        font-size: 15px;
        font-weight: 500;
        margin-right: 4px;
      }
      .address_signer {
        font-style: italic;
        margin-bottom: 10px;
      }
      .border_content {
        border: 1px solid;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        width: 50%;
      }
      .title_footer {
        padding-top: 10px;
        opacity: 0.5;
      }
      .border_100 {
        width: 100px;
        border-top: 1px solid;
      }
      .border_180 {
        width: 180px;
        border-top: 1px solid;
      }
      .requirements_container {
        width: 100%;
      }
      .requirements_item {
        width: 24%;
        display: inline-block;
      }
      .payment_container {
        display: flex;
        justify-content: space-around;
        width: 60%;
      }
      .flex_end_30 {
        justify-content: flex-end;
        margin-right: 30px;
        display: flex;
      }
      .footer_container {
        justify-content: space-between;
        border-top: 1px solid;
        margin-top: 20px;
        display: flex;
      }
      input[type="checkbox"]:checked{
        color: black;
        accent-color: white;
      }

    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class='main_file'>
        <div>
          <div class='num_in_doc'>
            <span class='item_in_doc'>Số vào sổ:______/TC-HC</span>
          </div>
          <div class='flex_around'>
            <div span={12} class='title_unit'>
              <div>TRƯỜNG ĐH HÀNG HẢI VIỆT NAM</div>
              <div class='title_weight_600'>ĐƠN VỊ: {{unitName}}</div>
              <div class='border_100'></div>
            </div>
            <div span={12} class='title_unit'>
              <div class='title_weight_600'>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</div>
              <div class='title_weight_600'>Độc lập - Tự do - Hạnh phúc</div>
              <div class='border_180'></div>
            </div>
          </div>
          <div class='title_unit' >
            <div class='title_bold_14'>ĐỀ NGHỊ</div>
            <div class='title_bold_14'>(Mượn Hội trường, Phòng họp,...)</div>
          </div>
          <div class='flex_center'>
            <div>Kính gửi:</div>
            <div style="margin-top: 20px; margin-left:15px">
              <div>- Ban Giám hiệu Trường Đại học Hàng Hải Việt Nam.</div>
              <div>- Phòng Tổ chức - Hành chính</div>
            </div>
          </div>
        </div>
        <div>
          <div class='row_content'>
            <div class='title_header'>Mục đích sử dụng:</div>
            <div>  {{purpose}}</div>
          </div>
          <div class='row_content'>
            <div class='title_header'>Nội dung yêu cầu:</div>
          </div>
          <div>
            <div class='row_content'>
              <div class='title_header'>1. Thời gian:</div>
            <div>  {{startTimestamp}}</div>
            </div>
            <div class='row_content'>
              <div class='title_header'>2. Địa điểm: </div>
              <div>  {{roomName}}</div>
            </div>
            <div class='row_content'>
              <div class='title_header'>3. Nội dung:</div>
            </div>
            <div class='requirements_container'>
              <div class='requirements_item'>
                {{#if requirements.micro}}
                    <input type='checkbox' checked></input>
                  {{else}}
                    <input type='checkbox'></input>
                {{/if}}
                <label>Micro phát biểu</label>
              </div>
              <div class='requirements_item'>
                {{#if requirements.speaker}}
                    <input type='checkbox' checked></input>
                  {{else}}
                    <input type='checkbox'></input>
                {{/if}}
                <label>Âm thanh hát</label>
              </div>
              <div class='requirements_item'>
                {{#if requirements.projector}}
                    <input type='checkbox' checked></input>
                  {{else}}
                    <input type='checkbox'></input>
                {{/if}}
                <label>Máy chiếu</label>
              </div>
              <div class='requirements_item'>
                {{#if requirements.photographer}}
                    <input type='checkbox' checked></input>
                  {{else}}
                    <input type='checkbox'></input>
                {{/if}}
                <label>Chụp ảnh</label>
              </div>
              <div class='requirements_item'>
                {{#if requirements.water}}
                    <input type='checkbox' checked></input>
                  {{else}}
                    <input type='checkbox'></input>
                {{/if}}
                <label>Nước uống</label>
              </div>
              <div class='requirements_item'>
                {{#if requirements.plasticFlower}}
                    <input type='checkbox' checked></input>
                  {{else}}
                    <input type='checkbox'></input>
                {{/if}}
                <label>Hoa nhựa</label>
              </div>
              <div class='requirements_item'>
                {{#if requirements.plantFlower}}
                    <input type='checkbox' checked></input>
                  {{else}}
                    <input type='checkbox'></input>
                {{/if}}
                <label>Hoa tươi</label>
              </div>
              <div class='requirements_item'>
                {{#if requirements.tablecloth}}
                    <input type='checkbox' checked></input>
                  {{else}}
                    <input type='checkbox'></input>
                {{/if}}
                <label>Khăn trải bàn</label>
              </div>
            </div>
            <div class='row_content'>
              <div class='title_header'>Tít chữ: </div>
              <div>  {{title}}</div>
            </div>
            <div class='row_content'>
              <div class='title_header'>Băng rôn: </div>
              <div>  {{banners}}</div>
            </div>
            <div class='row_content'>
              <div span={24} class='title_header'>4. Các yêu cầu khác:<span style="font-style: 'italic'; font-weight:400">(nhạc nghi lễ, báo chí, truyền hình, bàn chủ tịch, bàn thư ký, bàn đón tiếp đại biểu, lễ tân, khay tặng quà, hoa tặng, tiệc giữa giờ,…)</span></div>
            </div>
            <div class='row_content'>
              <div span={24}>{{otherRequirement}}</div>
            </div>
            <div class='row_content'>
              <div class='title_header'>5. Phương thức thanh toán:</div>
              <div class='payment_container'>
                <div class='payment_item'>
                  {{#if payment.unit}}
                    <input type='checkbox' checked></input>
                    {{else}}
                    <input type='checkbox'></input>
                  {{/if}}
                  <label>Đơn vị</label>
                </div>
                <div class='payment_item'>
                  {{#if payment.uni}}
                    <input type='checkbox' checked></input>
                    {{else}}
                    <input type='checkbox'></input>
                  {{/if}}
                  <label>Nhà trường</label>
                </div>
                <div class='payment_item'>
                  {{#if payment.others}}
                    <input type='checkbox' checked></input>
                    {{else}}
                    <input type='checkbox'></input>
                  {{/if}}
                  <label>Khác</label>
                </div>
              </div>
            </div>

            <div class='row_content'>
              <div class='border_content'>
                <div>Thời gian yêu cầu hoàn thành: {{prepareBeforeTimestamp}}</div>
              </div>
              <div class='border_content'>
                <div>Thời gian bàn giao lại cho đơn vị: {{endTimestamp}}</div>
              </div>
            </div>
            <div class='flex_end_30'>
              <div class='address_signer'>Hải Phòng, ngày {{issuedDate.day}} tháng {{issuedDate.month}} năm {{issuedDate.year}}</div>
            </div>
            <div class='unit_sign_container'>
              <div class='title_unit_sign'>BAN GIÁM HIỆU</div>
              <div class='title_unit_sign'>PHÒNG TC-HC</div>
              <div class='title_unit_sign'>
                <div>ĐƠN VỊ ĐỀ NGHỊ</div>
              </div>
            </div>
            <div class='unit_sign_container' >
              <div class='title_unit_sign_item'></div>
              <div class='title_unit_sign_item'></div>
              <div class='title_unit_sign_item'>
              </div>
            </div>
            <div class='unit_sign_container'>
              <div class='unit_sign_place'>Nguyễn Thanh Sơn</div>
              <div class='unit_sign_place'>Nguyễn Huy Hào</div>
              <div class='unit_sign_place'><div>{{creator.fullName}}</div></div>
            </div>
          </div>
          <!-- <div className='footer_container'>
            <div className='title_footer'>NBH: 30/5/18 - REV:0</div>
            <div className='title_footer'>BM.09-QT.TCHC.03</div>
          </div> -->
    </div >
  </body>
</html>
